{%  extends "blog/base.html" %}

{% block content %}
  <div class="content-section">
    <small class="text-muted">Fall 2019 - Spring 2020</small>
    <h2>AP Calculus AB</h2>


    <p><b>Office Hours:</b> After class, or by appointment.


    <p><b>Objectives:</b>  This course aims to give you the core intuitions behind differential calculus, integral calculus, and limits, as well as to provide an understanding of the incredible usefulness of calculus in the real world. In the process, we will cover all the required material for the AP Calculus AB test.


    <p><b>Prerequisites:</b>
    Pre-calculus (arithmetic, geometry, algebra, trigonometry, linear functions, etc.)


    <p><b>Schedule:</b>
      <table class="table" style="width:80%" align="center">
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Links</th>
        </tr>
        <tr>
          <td>Oct. 25th</td>
          <td>Exam 1</td>
          <td><a href="#">Review</a></td>
        </tr>
        <tr>
          <td>Dec. 20th</td>
          <td>Exam 2</td>
          <td><a href="#">Review</a></td>
        </tr>
      </table>

    <p><b>Main References:</b> Here are some interesting and useful books that will be touched during the course. I will hand out samples of these books in class, you are not expected to purchase them.
    <ul>
      <li> Morris Kline, <em>Calculus: An Intuitive and Physical Approach</em>, Dover Publications, 1998.
      <li> James Stewart, <em>Calculus: Early Transcendentals</em>, 6th Ed., Mariner Books, 2019.
      <li> Steven Strogatz, <em>Infinite Powers: How Calculus Reveals the Secrets of the Universe</em>, Mariner Books, 2019.
    </ul>

    <p><b>Grading Policy:</b> Homework (50%),  Midterm (20%), Final (30%).


    <p><b>Class Guidelines:</b>
    <ul>

    <li> I will do my best to respond to your questions as quickly as possible, but I may not always be able to answer immediately. Do not expect an answer if you post a question about the homework on the night before it is due. Please feel free to help your classmates by answering their question on Piazza if you can. Giving away the answer is not allowed for homework or test questions, but you may help by offering suggestions about the proper method for solving the problem.

    <li> Regular attendance is essential and expected. Let me know if there is an emergency circumstance preventing you from coming to class so that we can work out a plan to keep you on track.

    <li> Don't hesitate to ask questions at any time during class. If you are paying attention and still do not understand, it is a failure on my part to explain clearly enough. Please speak up as others are likely confused too.
    </ul>


    <p><b>Homework:</b>
    <ul>

        <li> Homework PDFs, as well as due dates, will be provided on this page. Note: Homework will be collected at the <b>beginning</b> of class on the assigned due date.

    <li> You must show your work, starting from the problem statement and working through to the solution.

    <li> You may work on homework in groups, but each person must write their own solutions.

    <li> <b>Late policy</b>: For homeworks, I will deduct 10% from your score for each late day up to 5 days after the due date. For example, if you do not submit at the beginning of class on the due date you have until the end of class the next to submit with a penalty of 1 late day or 10%.
    </ul>


    <p><b>Academic Honesty:</b>   Copying others' work, whether on homework or tests, is strictly prohibited and will result in both a score of zero and further punitive measures according to the severity of the infraction. Lack of knowledge of this policy is not a reasonable explanation for a violation, as I will go over this policy carefully in class.


    <p> <b>Course Overview:</b>
    <ol>
      <li> Limits
      <ul>
        <li> Definition of Continuity
        <li> Intermediate Value Theorem
        <li> Extreme Value Theorem
        <li> L'Hopital's Rule
        <li> Infinite limits and limits as x goes to infinity
      </ul>

      <li> Derivatives
      <ul>
        <li> What is a derivative?
        <li> Limit definition of derivative
        <li> Differentiability vs. Continuity
        <li> Common Derivatives
        <li> Arithmetic rules
        <li> Derivatives of logarithmic, exponential, and trigonometric functions
        <li> Product and Quotient Rules
        <li> Chain Rule
        <li> Mean Value Theorem
      </ul>

      <li> Integrals
      <ul>
        <li> What is an integral?
        <li> Antidifferentiation rules
        <li> Substitution method
        <li> Fundamental Theorem of Calculus
        <li> Using integrals to compute areas and volumes
        <li> Riemann Sums and Trapezoid Rule
      </ul>
    </ol>
  </div>

{% endblock content %}

{% block sidebar %}
  <h5>Announcements</h5>
  <ul>
    <li> Please sign up for <a href="urlpiazza.com/guilin_high_school/fall2019/calculus">Piazza</a> using the course passcode "calculus". There you will be able to ask me any questions you may have about the class and the material.
  </ul>
{% endblock sidebar %}