<div class="row navigate col-md-offset-3 justify-content-center">
    {% if is_paginated %}

      {% if page_obj.number == 1 %}
        <a class="btn btn-pg mb-2 btn-pg-selected" href="?page=1">1</a>
      {% else %}
        <a class="btn btn-pg mb-2" href="?page=1">1</a>
      {% endif %}

      {% if page_obj.has_previous and page_obj.number == 2 %}
        <a class="btn btn-pg mb-2 btn-pg-selected" href="?page={{ 2 }}">{{ 2 }}</a>
      {% elif page_obj.has_previous and page_obj.number == 3 %}
        <a class="btn btn-pg mb-2" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        <a class="btn btn-pg mb-2 btn-pg-selected" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
      {% elif page_obj.has_previous and page_obj.number > 3 %}
        <div style="color:white">...</div>
        <a class="btn btn-pg mb-2" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        <a class="btn btn-pg mb-2 btn-pg-selected" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
      {% endif %}

      {% if page_obj.has_next %}
        <a class="btn btn-pg mb-2" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      {% endif %}

      {% if page_obj.has_next and page_obj.number == page_obj.paginator.num_pages|add:'-2' %}
        <a class="btn btn-pg mb-2" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% elif page_obj.has_next and page_obj.number < page_obj.paginator.num_pages|add:'-2'  %}
        <div style="color:white">...</div>
        <a class="btn btn-pg mb-2" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}

    {% endif %}
  </div>